.App-container {
  padding: 2rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.App-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3c444b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.App-headerContentWrapper {
  display: grid;
  align-items: center;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.App-headline {
  font-weight: 200;
  font-size: 32px;
  line-height: 0;
}

.App-description {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  color: slategrey;
}

.App-actionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
