.ChangelogVersionBlock-container {
  padding-bottom: 2rem;
  position: relative;
}

.ChangelogVersionBlock-header {
  position: absolute;
  top: 0;
  left: -34px;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.ChangelogVersionBlock-headline-releaseDate-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;
}

.ChangelogVersionBlock-headline {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
}

.ChangelogVersionBlock-releaseDate {
  font-size: small;
  color: slategrey;
  margin-left: 1rem;
  margin: 0;
}

.VersionBadge-container {
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 4px;
  width: 60px;
  text-align: center;
  color: white;
  background-color: slateblue;
  font-size: medium;
}

.ReleaseNoteBadge-container {
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 4px;
  width: 90px;
  text-align: center;
  background-color: #3b82f6;
  color: white;
  font-size: small;
}

.ChangelogVersionBlock-releaseNote {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}

.ChangelogVersionBlock-content {
  padding-top: 3.8rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 2.15rem;
}

.ChangelogVersionBlock-releaseNoteContent {
  color: white;
  margin: 0.4rem;
}

@media screen and (max-width: 920px) {
  .ChangelogVersionBlock-releaseNote {
    flex-direction: column;
    align-items: start;
  }
  .ChangelogVersionBlock-content {
    gap: 1rem;
    padding-top: 6rem;
  }
  .ChangelogVersionBlock-releaseNoteContent {
    margin: 0rem;
  }
}
